<h1 style="border-top: 1px solid #bbb; margin-top: 24px; padding-top: 24px">Comments</h1>
<div class="comment">
<p>Comments are closed, see <a href="/2017/05/08/no-more-disqus.html">here</a> for details.</p>
</div>
<div class="comment">
<div class="comment-header">
<span class="comment-author">olynch</span> &middot; <span class="comment-date">2016-Aug-18</span>
</div>
<div class="comment-body">
<p>You can use farbfeld for images: it's on <a href="http://suckless.org" rel="nofollow noopener">suckless.org</a>. Insanely simple, very useful.</p>
</div>
<div class="comment-children">
<div class="comment">
<div class="comment-header">
<span class="comment-author">Matt Zucker</span> &middot; <span class="comment-date">2016-Aug-19</span>
</div>
<div class="comment-body">
<p>Thanks, will check it out!</p>
</div>
</div>
</div>
</div>
