<h1 style="border-top: 1px solid #bbb; margin-top: 24px; padding-top: 24px">Comments</h1>
<div class="comment">
<p>Comments are closed, see <a href="/2017/05/08/no-more-disqus.html">here</a> for details.</p>
</div>
<div class="comment">
<div class="comment-header">
<span class="comment-author">Greg Popovitch</span> &middot; <span class="comment-date">2016-Aug-18</span>
</div>
<div class="comment-body">
<p>Very cool article, thanks for writing it! I'd love to get one of your business cards :-)</p>
</div>
</div>
<div class="comment">
<div class="comment-header">
<span class="comment-author">Crackity Jones</span> &middot; <span class="comment-date">2016-Aug-18</span>
</div>
<div class="comment-body">
<p>Presumably the mystery asterisks indicate that the identifiers are of type int* and vector* respectively?</p><p>edit: vector* rather than void*</p>
</div>
<div class="comment-children">
<div class="comment">
<div class="comment-header">
<span class="comment-author">Matt Zucker</span> &middot; <span class="comment-date">2016-Aug-18</span>
</div>
<div class="comment-body">
<p>Mystery asterisks in which version of the program?</p>
</div>
<div class="comment-children">
<div class="comment">
<div class="comment-header">
<span class="comment-author">jleader</span> &middot; <span class="comment-date">2016-Aug-18</span>
</div>
<div class="comment-body">
<p>I think Crackity is referring to the asterisks in the 3rd line of the identifier-to-datatype mapping comment from version 4.5</p>
</div>
<div class="comment-children">
<div class="comment">
<div class="comment-header">
<span class="comment-author">Matt Zucker</span> &middot; <span class="comment-date">2016-Aug-19</span>
</div>
<div class="comment-body">
<p>Oh -- right, that totally makes sense. Mystery solved!</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="comment">
<div class="comment-header">
<span class="comment-author">Amin Shah Gilani</span> &middot; <span class="comment-date">2016-Aug-18</span>
</div>
<div class="comment-body">
<p>Great read :)</p>
</div>
</div>
<div class="comment">
<div class="comment-header">
<span class="comment-author">pmsc</span> &middot; <span class="comment-date">2016-Aug-18</span>
</div>
<div class="comment-body">
<p>ompf still lives! Go to <a href="http://ompf2.com" rel="nofollow noopener">ompf2.com</a> - it's a lot quieter than it used to be but many of the same people are there. </p>
</div>
<div class="comment-children">
<div class="comment">
<div class="comment-header">
<span class="comment-author">Matt Zucker</span> &middot; <span class="comment-date">2016-Aug-19</span>
</div>
<div class="comment-body">
<p>Thanks – too bad they don't have an archive of the old forum posts tho.</p>
</div>
</div>
</div>
</div>
