<h1 style="border-top: 1px solid #bbb; margin-top: 24px; padding-top: 24px">Comments</h1>
<div class="comment">
<p>Comments are closed, see <a href="/2017/05/08/no-more-disqus.html">here</a> for details.</p>
</div>
<div class="comment">
<div class="comment-header">
<span class="comment-author">Quentin Rousseau</span> &middot; <span class="comment-date">2016-Aug-18</span>
</div>
<div class="comment-body">
<p>Amazing work !</p>
</div>
</div>
<div class="comment">
<div class="comment-header">
<span class="comment-author">Gleb Bahmutov</span> &middot; <span class="comment-date">2016-Aug-18</span>
</div>
<div class="comment-body">
<p>great job and good explanation.</p>
</div>
</div>
<div class="comment">
<div class="comment-header">
<span class="comment-author">Vinit</span> &middot; <span class="comment-date">2016-Aug-18</span>
</div>
<div class="comment-body">
<p>Love this Post. Great explanation.</p>
</div>
</div>
<div class="comment">
<div class="comment-header">
<span class="comment-author">Derek Kozel</span> &middot; <span class="comment-date">2016-Aug-19</span>
</div>
<div class="comment-body">
<p>This looks like it was a great project, thanks for sharing it! It would be interesting to see how it performs with a high resolution, well illuminated page. Since the code is open maybe I'll give it a shot. :)</p>
</div>
</div>
<div class="comment">
<div class="comment-header">
<span class="comment-author">Paul Milovanov</span> &middot; <span class="comment-date">2016-Aug-19</span>
</div>
<div class="comment-body">
<p>Consider mentioning Dan Bloomberg as the author of the original work as well as Leptonica. :)</p>
</div>
<div class="comment-children">
<div class="comment">
<div class="comment-header">
<span class="comment-author">Matt Zucker</span> &middot; <span class="comment-date">2016-Aug-19</span>
</div>
<div class="comment-body">
<p>Updated to add.</p>
</div>
</div>
</div>
</div>
<div class="comment">
<div class="comment-header">
<span class="comment-author">Rabbi Yehoshua Scult</span> &middot; <span class="comment-date">2016-Aug-19</span>
</div>
<div class="comment-body">
<p>I am the Supreme Idiot. Hi! Could you turn this into a  EXE that would execute on Windows 7? What in the world are Py files?<br>TIA<br>scult1@gmail.com</p>
</div>
<div class="comment-children">
<div class="comment">
<div class="comment-header">
<span class="comment-author">Stuart Woodward</span> &middot; <span class="comment-date">2016-Aug-19</span>
</div>
<div class="comment-body">
<p>.py are Python source code files. If you install Python for Windows then you can run them.</p>
</div>
</div>
</div>
</div>
<div class="comment">
<div class="comment-header">
<span class="comment-author">Oleg Kovalov</span> &middot; <span class="comment-date">2016-Aug-19</span>
</div>
<div class="comment-body">
<p>Awesome job and good explanation! *hugefan.png*</p>
</div>
</div>
<div class="comment">
<div class="comment-header">
<span class="comment-author">SantoshSrinivas79</span> &middot; <span class="comment-date">2016-Aug-20</span>
</div>
<div class="comment-body">
<p>Thanks a ton!</p>
</div>
</div>
<div class="comment">
<div class="comment-header">
<span class="comment-author">JI Xiang</span> &middot; <span class="comment-date">2016-Aug-21</span>
</div>
<div class="comment-body">
<p>Actually `universal-argument` is used quite a lot in places where you want to alter the original command slightly. I'm using [Spacemacs](<a href="https://github.com/syl20bnr/spacemacs/)" rel="nofollow noopener">https://github.com/syl20bnr/sp...</a> though and I'm used to performing a Vim-style replacement which automatically utilizes regex syntax.</p>
</div>
</div>
<div class="comment">
<div class="comment-header">
<span class="comment-author">Marius Gedminas</span> &middot; <span class="comment-date">2016-Sep-23</span>
</div>
<div class="comment-body">
<p>Pylint is very opinionated and overwhelms one with false-positive warnings when used out of the box, without a custom configuration file.</p><p>Pyflakes is gentler.  (I tend to use flake8 because it augments pyflakes with a config file letting you disable some warnings, but flake8 also pulls in pep8 which nitpicks my style in a bit too rigid way.)</p>
</div>
<div class="comment-children">
<div class="comment">
<div class="comment-header">
<span class="comment-author">Matt Zucker</span> &middot; <span class="comment-date">2016-Sep-23</span>
</div>
<div class="comment-body">
<p>Thanks - maybe I'll check it out on my next Python project.</p>
</div>
</div>
</div>
</div>
<div class="comment">
<div class="comment-header">
<span class="comment-author">ChenTim</span> &middot; <span class="comment-date">2016-Oct-27</span>
</div>
<div class="comment-body">
<p>Great article and implementation!<br>This free app can also dewarp curled book pages and get decent image quality<br><a href="https://itunes.apple.com/app/id1112445201?mt=8" rel="nofollow noopener">https://itunes.apple.com/app/i...</a></p>
</div>
</div>
